*{
  font-size: large;
}

.clickable {
  color: blue;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.ul {
  list-style-type: none;
}

.nested {
  margin-left: 20px;
}

.result {
  border: 1px solid black;
  border-radius: 10px;
}

.mainTreeContainer{
  width: 100%;
}
